<div class='sta sta-enhanced chat card' data-item-id="{{item.id}}">
  <header>
    <img class="img" src={{item.img}} />
    <div class="title">
      <div class="name">{{item.name}}</div>
      <div class="type">{{item.type}}</div>
    </div>
  </header>
  <div class="content">
    <div class="description">{{{item.system.description}}}</div>
    <div class="vars">{{item.varField}}</div>
    <div class="tags">{{item.tagField}}</div>
  </div>
</div>
