<div class='sta sta-enhanced chat card' data-item-id="{{item.id}}">
  <header>
    <img class="img" src={{item.img}} />
    <div class="title">
      <div class="name">{{item.name}}</div>
      <div class="type">{{item.type}}</div>
    </div>
  </header>
  <div class="content">
    <div class="description">{{{item.descriptionHtml}}}</div>
    {{#if item.varField}}
    <div class="vars"><div class="dice-formula">{{{item.varField}}}</div></div>
    {{/if}}
    {{#if item.tags.length}}
    <div class="tags">
      {{#each item.tags}}<div class="tag">{{this}}</div>{{/each}}
    {{/if}}
    </div>
    {{#if item.rolls.challenge}}
      {{> 'sta-enhanced.chat.parts.weapon-roll' }}
    {{/if}}
  </div>
</div>
